.fidget_spinner, .im-page--history.im-page--history_loading:before {
    background: url(chrome-extension://__MSG_@@extension_id__/images/pein.svg) !important;
}

#box_loader .fidget_spinner {
    background: url(chrome-extension://__MSG_@@extension_id__/images/pein_40.svg) !important;
}

#box_loader .back {
	background-color: #b3b3b3 !important;
}